body {
    background-color: rgb(236, 229, 229);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 900px;
    margin: auto;
    margin-top: 5px;
}

.boton {
    border-radius: 50%;
    border: 1px solid rgb(61, 60, 60);
}


#title, .subtitle, .post_title, .post {
    color:rgb(77, 74, 74)

}

#title {
    font-size: 25px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: rgb(83, 81, 81);
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}

.post {
    background-color: white;
    padding: 10px;
    border: 3px solid rgb(51, 50, 50);
    margin-bottom: 15px;
    border-radius: 15px;
}

.post_content {
    margin: 0px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-transform: capitalize;
    text-align: justify;
}

.post_imag {
    margin-bottom: 15px;
    width: 100%;
}

.contact_list {
    list-style-type: none;
    padding: 0px;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;

}


